.endTime,.startTime,.askSelect{
    width: 200px;
}
.time{
    width: 140px;
}
.info{
    width: 200px;
}
.tableInfo .info{
    text-align: left;
}
.operate{
    width: 140px;
}
.state{
    width: 68px;
}
.change,.grantCancel,.grantConfirm{
    color: #49a2fb;
    font-size: 12px;
    border: none;
    text-align: center;
}
.change{
    width: 110px;
    background-color: transparent;
}
.grantConfirm,.grantCancel{
    width: 55px;
    background-color: transparent;
}
.change:hover,.grantConfirm:hover,.grantCancel:hover{
    color: #2c94fd;
    cursor: pointer;
}

.add_pop,.change_pop,.confirm_pop,.cancel_pop{
    display: none;
}
.popName{
    display: inline-block;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: left;
    color: #666666;
    font-size: 14px;
}
.star{
    color: #ff0000;
}
.entry{
    float: right;
    padding-left: 5px;
    border: 1px solid #ececec;
    width: 230px;
    height: 35px;
}