.askInput,.askSelect{
    width: 110px;
}
.added{
    float: left;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    background-color: #49a2fb;
    text-align: center;
    cursor: pointer;
}
.askOperate{
    float: right;
    color: #333333;
    font-size: 14px;
}
.grantCancel,.grantConfirm{
    margin-left: 5px;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    background-color: #49a2fb;
    text-align: center;
    cursor: pointer;
}
.grantCancel:hover,.grantConfirm:hover,.added:hover{
    background-color: #2c94fd;
}
.table{
    margin-top: 50px !important;
}
.time{
    width: 130px;
}
.money{
    width: 150px;
}
.account{
    width: 200px;
}
.tableInfo .money,.tableInfo .account{
    text-align: left;
}
.sourceAccount{
    width: 122px;
}
.mark{
    width: 178px;
}
.state{
    width: 79px;
}
.operate{
    width: 90px;
}
.change{
    width: 80px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #49a2fb;
}
.change:hover{
    color: #2c94fd;
}
.check,.choose_two,.controlAll{
    display: inline-block;
    width: 66px;
}
.controlAll{
    height: 30px;
    line-height: 30px;
}

.cancel_pop,.confirm_pop,.change_pop,.added_pop{
    display: none;
}
.popName{
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: left;
    color: #666666;
    font-size: 14px;
}
.star{
    color: #ff0000;
}
.entry{
    float: right;
    padding-left: 5px;
    border: 1px solid #ececec;
    width: 250px;
    height: 35px;
}
.popS_title{
    float: left;
    margin-top: 15px;
    padding: 15px 20px 0 20px;
    width: 360px;
    font-size: 15px;
    color: #333333;
    border-top: 1px solid #ececec;
}
.popS_title:first-of-type{
    margin-top: 0;
    border-top: none;
}
.popAccount{
    color: #999999;
    font-size: 14px;
}